__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/

.env
.env.*

*.log
coverage/
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/

.vscode/
.idea/

*.egg
*.egg-info/
dist/
build/
.eggs/
site/
poetry.lock

.DS_Store
Thumbs.db

*.pid
